@{
    ViewData["Title"] = "Sales Platform";
}

<div class="card bg-light">
    <div class="card-header">A C# ASP.NET Core MVC system</div>
    <div class="card-body">
        <h4 class="card-title">Sales Platform</h4>
        <p class="card-text">
            The web system is designed to manage information on sales made by registered vendors, 
            including their personal information. The system features a department section that 
            allows users to create, edit, and delete departments, as well as a vendor section 
            where new vendors can be added, and existing ones can be edited or deleted. The 
            system also records sales made by vendors, and allows for simple or grouped filtering 
            of sales by department. This system was built using C# ASP.NET Core MVC, Entity 
            Framework, and SQL Server database.
        </p>
    </div>
</div>
